
body{
    h2{
        text-align: center;
        margin-top: 10%;
    }
}

body{
    h3{
        margin-left:5%;
        margin-top: 5%;
        margin-bottom: 2%;
        
    } 
}
main{
    section{
        div{
            p{
                text-align: center;
            }
        }
    }
}
.txtCenter{
    text-align: center;
    padding:1%;
   

}
/* Configuracion alert Inicio sesion */

.descripcionAlert2 {
  width: 240px; 
  height: 240px; 
  position: absolute; 
  top: 5%; 
  left: 80%; 
  border: 2px solid #333; 
  z-index: -1; 
  padding: 20px; 
  text-align: right; 
}

/* Configuracion alert ingreso usuarios */
.descripcionAlert3 {
    width: 240px; 
    height: 240px; 
    position: absolute; 
    top: 22%; 
    left: 25%; 
    border: 2px solid #333; 
    z-index: -1; 
    padding: 20px; 
    text-align: right; 
  }

  /* Configuracion alert ingreso comprobantes */
  .descripcionAlert4 {
    width: 320px; 
    height: 240px; 
    position: absolute; 
    top: 45%; 
    left: 60%; 
    border: 2px solid #333; 
    z-index: -1; 
    padding: 20px; 
    text-align: right; 
  }